@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: radial-gradient(
    circle 780.6px at 10% 20%,
    rgba(133, 255, 189, 1) 0%,
    rgba(255, 251, 125, 1) 90.7%
  );
  min-height: 100vh;
  background-attachment: fixed;
}
